<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
   <bean id = "transactionSummary" class = "main.com.service.impl.TransactionSummaryServiceImpl" />
   <bean id = "transactinSummaryDAO" class = "main.com.dao.impl.TransactionSummaryDAOImpl"/>
   <bean id = "clientDAO" class = "main.com.dao.impl.ClientDAOImpl" />
   <bean id = "productDAO" class = "main.com.dao.impl.ProductDAOImpl" />
   <bean id = "transactionDAO" class = "main.com.dao.impl.TransactionAmountDAOImpl" />
   <bean id = "clientService" class = "main.com.service.impl.ClientServiceImpl" />
   <bean id = "productService" class = "main.com.service.impl.ProductServiceImpl" />
   <bean id = "transactionAmountService" class = "main.com.service.impl.TransactionAmountServiceImpl" />
</beans>